// @import './components/custom-icon-font.scss';

@import './components/variable.scss';

@import './components/normalize.scss';

@import './components/global.scss';

@import './components/components.scss';

@import './components/logo-nav.scss';

@import './components/section.scss';

@import './components/footer.scss';

@import './components/responsive.scss';

a.btn-primary {
  color: #fff !important;
}

div.rs-icon-1:nth-child(1) div.body-content > div {
  font-weight: 700;
}

img.btn-icon {
  margin-left: 20px;
}

.footer .footer-item div.footer-title {
  color: #c2c2c2;
}

.footer .footer-item .list li a {
  padding-left: 0;
}

.footer .footer-item .list li a:before {
  content: '';
}

.btn-primary {
  background-color: #d30000;
  color: black;
}
.btn-primary:hover {
  background-color: darken($color: #d30000, $amount: 10);
  color: #fff;
}

.btn-secondary {
  background-color: #000;
  color: #fff;
}
.btn-secondary:hover {
  background-color: lighten($color: #000, $amount: 10);
  color: #fff;
}
